Repository wled/WLED, pull requests merged in 2024-05, with the labels that each got.

#3003 Usermod Battery 🔋 Added Support for different battery types, Optimized file structure
  usermods/Battery/UMBattery.h
  usermods/Battery/battery_defaults.h
  usermods/Battery/readme.md
  usermods/Battery/types/LionUMBattery.h
  usermods/Battery/types/LipoUMBattery.h
  usermods/Battery/types/UnkownUMBattery.h
  usermods/Battery/usermod_v2_Battery.h
Labels: keep, usermod

#3942 Enabled some audioreactive effects for single pixel strips/segments
  wled00/FX.cpp
Labels: effect

#3961 Added Pinwheel Expand 1D Effect
  wled00/FX.h
  wled00/FX_fcn.cpp
  wled00/data/index.js
Labels: enhancement, awesome

#3897 reset usermod TetrisAI back to initial version
  usermods/TetrisAI_v2/gridbw.h
  usermods/TetrisAI_v2/gridcolor.h
  usermods/TetrisAI_v2/rating.h
  usermods/TetrisAI_v2/readme.md
  usermods/TetrisAI_v2/tetrisai.h
  usermods/TetrisAI_v2/tetrisaigame.h
  usermods/TetrisAI_v2/tetrisbag.h
  usermods/TetrisAI_v2/usermod_v2_tetrisai.h
Labels: effect, usermod
